In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

import geopandas as gpd
from shapely.geometry import shape

import matplotlib.pyplot as plt
import seaborn as sns
from shapely.geometry import Point
import plotly.figure_factory as ff
import plotly.express as px

from urllib.parse import urlencode
import urllib.request, json 

import requests

In [3]:
manhattan = pd.read_csv('../Data/0413_Yelp_Manhattan.csv')
brooklyn = pd.read_csv('../Data/0413_Yelp_Brooklyn.csv')
queens = pd.read_csv('../Data/0413_Yelp_Queens.csv')
bronx= pd.read_csv('../Data/0413_Yelp_Bronx.csv')

In [41]:
ny_df = pd.concat([manhattan, brooklyn, queens, bronx], ignore_index=True)
ny_df.drop(ny_df.filter(regex="Unnamed"),axis=1, inplace=True)
ny_df.drop(['transactions'], axis =1, inplace=True)
ny_df =ny_df.drop_duplicates()
ny_df.head(5)

,name,review_count,rating,price,latitude,longitude,alias,address1,city,zip_code,display_address
0,The Halal Guys,9806,4.0,$,40.761861,-73.979306,foodstands,W 53rd Street And 6th Ave,New York,10019,"['W 53rd Street And 6th Ave', 'New York, NY 10..."
1,Levain Bakery,8794,4.5,$$,40.779961,-73.980299,bakeries,167 W 74th St,New York,10023,"['167 W 74th St', 'New York, NY 10023']"
2,Central Park Conservancy,2621,5.0,NaN,40.764266,-73.971656,parks,14 E 60th St,New York,10022,"['14 E 60th St', 'New York, NY 10022']"
3,The Metropolitan Museum of Art,3102,4.5,NaN,40.779449,-73.963245,artmuseums,1000 5th Ave,New York,10028,"['1000 5th Ave', 'New York, NY 10028']"
4,Best Bagel & Coffee,3856,4.5,$,40.752268,-73.991086,bagels,225 W 35th St,New York,10001,"['225 W 35th St', 'New York, NY 10001']"

In [49]:
ny_df = ny_df[ny_df['price'].notna()]
ny_df =ny_df.reset_index(drop=True)
# list(set(ny_df['price']))
ny_df.head(5)

,name,review_count,rating,price,latitude,longitude,alias,address1,city,zip_code,display_address
0,The Halal Guys,9806,4.0,$,40.761861,-73.979306,foodstands,W 53rd Street And 6th Ave,New York,10019,"['W 53rd Street And 6th Ave', 'New York, NY 10..."
1,Levain Bakery,8794,4.5,$$,40.779961,-73.980299,bakeries,167 W 74th St,New York,10023,"['167 W 74th St', 'New York, NY 10023']"
2,Best Bagel & Coffee,3856,4.5,$,40.752268,-73.991086,bagels,225 W 35th St,New York,10001,"['225 W 35th St', 'New York, NY 10001']"
3,Le Bernardin,2674,4.5,$$$$,40.761557,-73.981763,french,155 W 51st St,New York,10019,"['155 W 51st St', 'The Equitable Bldg', 'New Y..."
4,Los Tacos No.1,2192,4.5,$,40.757507,-73.987772,tacos,229 W 43rd St,New York,10036,"['229 W 43rd St', 'New York, NY 10036']"